{% load static %}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>(;) Semicolon Math: {{ contest.name }}</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
	</head>
	<body style="max-width: 60em !important;">
		<div style="display: flex; justify-content: space-between; align-items: center;">
			<div>
				<h1>(;) Semicolon Math: {{ contest.name }} </h1>
			</div>
			<div style="float: right;">
				{% if user.is_authenticated %}
					<a href="{% url 'profile' %}">{{ user.username }}</a> |
					<a href="{% url 'logout' %}">Logout</a>
				{% else %}
					<a href="{% url 'login' %}?next={{ request.path }}">Login</a> |
					<a href="{% url 'register' %}">Register</a>
				{% endif %}
			</div>
		</div>

		<nav>
			<a href="{% url 'blog-home' %}">Home</a> |
			<a href="{% url 'contests-home' %}">Contests</a> |
			<a href="{% url 'problemset-home' %}">Problemset</a> |
			<a href="{% url 'blog-about' %}">About</a>
		</nav>
		
		<div style="min-width: 550px;">
		<div style="float: right; width: 10em; position: sticky; top: 1em; padding: 1em 1em; border-style: double;">
			{% if contest.running %}
				<div class="timerDiv">
					<h2>
						Time left:
						<span class="timer" redirect="{% url 'contests-submit' contest.id %}" current-server-time="{{ current_server_time }}" end-time="{{ contest.user_end_time|date:"U" }}"></span>
					</h2>
				</div>
			{% endif %}
			{% if messages %}
				{% for message in messages %}
					<div class="alert alert-{{ message.tags }}">
						{{ message }}
					</div>
				{% endfor %}
			{% endif %}
			{% if contest.running %}
				<button id="submitBtn" redirect="{% url 'contests-submit' contest.id %}">Submit contest</button><br/>
				<small><p><b>
					You must submit the contest once you finish!
				</b></p></small>
				<script>
					var submitBtn = document.getElementById("submitBtn");
					submitBtn.addEventListener('click', function(e) {
						var message = "Are you sure you want to submit the contest? Note you have until 20 minutes AFTER \
your contest attempt ends to submit. Press OK to continue.\n(If you want to go back to the arena and haven't submitted, use the back button in your browser.)"
						if(confirm(message)) {
							location.href = e.currentTarget.getAttribute('redirect');
						}
					});
				</script>
			{% endif %}
			<a href="#announcements">Note on announcements</a> /</br>
			{% if contest.has_solutions %}
				<a href="{{ contest.solutions_url }}">View contest solutions</a> /</br>
			{% endif %}
			{% if contest.ended_for_all %}
				{% if contest.user_registered %}
					<a href="#userResults">Your results</a> /<br/>
				{% endif %}
				<a href="{% url 'contests-scoreboard' contest.id %}">View scoreboard</a> /</br>
			{% elif contest.user_finished_but_running %}
				<p>
					Your attempt has finished, contest ends in:
					<span class="timer" redirect="refresh" current-server-time="{{ current_server_time }}" end-time="{{ contest.end_time|date:"U" }}"></span>
				</p>
			{% endif %}
			{% if contest_problems %}
				<p><b>Problems</b></p>
				<div style="display: grid; grid-template-columns: repeat(5, 1fr); grid-gap: 0.4em;">
				{% for contest_problem in contest_problems %}
					{% if contest.ended_for_all %}
					{% if contest_problem.solved %}
						<a style="color: black;" href="#{{ forloop.counter }}">
							<div id="link{{ forloop.counter }}" style="border: 2px solid white; text-align: center; background-color: lightgreen;">{{ forloop.counter }}</div>
						</a>
					{% else %}
						<a style="color: black;" href="#{{ forloop.counter }}">
							<div id="link{{ forloop.counter }}" style="border: 2px solid white; text-align: center; background-color: coral;">{{ forloop.counter }}</div>
						</a>
					{% endif %}
					{% elif contest.running %}
					{% if contest_problem.attempted %}
						<a style="color: black;" href="#{{ forloop.counter }}">
							<div id="link{{ forloop.counter }}" style="border: 2px solid white; text-align: center; background-color: lightblue;">{{ forloop.counter }}</div>
						</a>
					{% else %}
						<a style="color: black;" href="#{{ forloop.counter }}">
							<div id="link{{ forloop.counter }}" style="border: 2px solid white; text-align: center; background-color: lightgray;">{{ forloop.counter }}</div>
						</a>
					{% endif %}
					{% else %}
						<a href="#{{ forloop.counter }}">
							<div id="link{{ forloop.counter }}" style="border: 2px solid white; text-align: center;">{{ forloop.counter }}</div>
						</a>
					{% endif %}
				{% endfor %}
				</div>
				{% if contest.ended_for_all %}
				<small><p>
					Note <b>green</b> means solved and <b>red</b> means unsolved.
				</p></small>
				{% elif contest.running %}
				<small><p>
					Note <b>blue</b> means attempted and <b>gray</b> means unattempted.
				</p></small>
				{% endif %}
			{% endif %}
		</div>
		
		{% if contest_problems %}
			<div style="margin-right: 13em;">
			<div class="box" id="announcements">
				<h2>Announcements</h2>
				<p>Announcements are available on <a href="https://discord.gg/9deBe7WnEM">our Discord server</a>.</p>
				<p>They will only be regarding technical issues.</p>
				<p>
					We will post fixes to any problems AFTER the contest has finished, to make it fair to everyone.
					The fixes will be available in the problem statements.
				</p>
				<p><b>
					You must submit the contest once you finish! Note you have
					20 minutes after your attempt finishes to do so!
				</b></p>
			</div>
			{% if contest.ended_for_all and contest.user_registered %}
			<div class="box" id="userResults" style="overflow: scroll;">
				<h2>Your results</h2>
				<h3>Your score: {{ contest.user_score }}</h3>
				<p><a href="{% url 'contests-scoreboard' contest.id %}">Scoreboard available at this link</a></p>
				<table>
				<tr>
					<th>Problem number:</th>
					{% for contest_problem in contest_problems %}
						<th>{{ forloop.counter }}</th>
					{% endfor %}
				</tr>
				<tr>
					<th>Your answer:</th>
					{% for contest_problem in contest_problems %}
						{% if contest_problem.user_answer %}
							<td>{{ contest_problem.user_answer }}</td>
						{% else %}
							<td>N/A</td>
						{% endif %}
					{% endfor %}
				</tr>
				<tr>
					<th>Verdict:</th>
					{% for contest_problem in contest_problems %}
						{% if contest_problem.solved_in_contest %}
							{% if contest.contest_format == "AMC10" %}
								<th style="color: lightgreen;">+6</th>
							{% else %}
								<th style="color: lightgreen;">+1</th>
							{% endif %}
						{% elif contest.contest_format == "AMC10" and contest_problem.user_answer == "Blank" %}
							<th style="color: orange;">+1.5</td>
						{% else %}
							<th style="color: tomato;">+0</td>
						{% endif %}
					{% endfor %}
				</tr>
				</table>
			</div>
			{% endif %}

			{% for contest_problem in contest_problems %}
				<div class="box" id="{{ forloop.counter }}">
					<div style="display: flex; align-items: center; gap: 1em;">
						<h2>Problem {{ forloop.counter }}</h2>
						{% if user.is_authenticated and contest.running %}
							<span id="status{{ forloop.counter }}" style="font-weight: bold; color: skyblue;">(This is current saved answer.)</span>
						{% endif %}
						{% if contest.ended_for_all %}
							{% if contest_problem.solved %}
								<h3 style="color: lightgreen;">Problem status: solved</h3>
							{% else %}
								<h3 style="color: tomato;">Problem status: not solved</h3>
							{% endif %}
						{% endif %}
					</div>

					<div>{{ contest_problem.problem.content|safe }}</div>

					{% if user.is_authenticated %}
						{% if contest.running %}
							<form method="POST">
								{% csrf_token %}
								{{ contest_problem.form.as_p }}
							</form>
							{% if contest.contest_format == "AIME" %}
								<button id="save{{ forloop.counter }}">Save</button>
							{% endif %}
						{% elif contest.ended_for_all %}
						<form method="POST">
							{% csrf_token %}
							{{ contest_problem.form.as_p }}
							<button type="submit">Submit</button>
						</form>
						{% endif %}
					{% else %}
						<div class="alert alert-error">
							Please login before submitting this problem.
						</div>
					{% endif %}
				</div>
			{% endfor %}
			</div>
		{% endif %}
		</div>
		<style>
			.problemId {
				display: none;
			}
			div.answerForm {
				display: grid;
				grid-template-columns: repeat(6, auto);
				max-width: 450px;
			}
			div.answerForm label {
				background-color: skyblue;
				padding: 0.5em;
				border-radius: 0.4em;
				display: inline-block;
				cursor: pointer;
				color: black;
				margin: 0.25em;
				user-select: none;
			}
			input[type=radio] {
				cursor: pointer;
			}
		</style>
		{% if contest.running %}
			{% if contest.contest_format != "AIME" %}
			<script>
				var numForms = document.getElementsByClassName("box").length - 1;
				for(var i = 0; i < numForms; i++) {
					var form = document.getElementById(i.toString() + "_answer");
					for(var j = 0; j < form.children.length; j++) {
						var radioButton = document.getElementById(i.toString() + "_answer_" + j.toString());
						radioButton.problemNum = i + 1;
						radioButton.isBlank = false;
						if(radioButton.value === "Blank") {
							radioButton.isBlank = true;
						}
						radioButton.addEventListener('change', function(e) {
							var status = document.getElementById("status" + e.currentTarget.problemNum.toString());
							var statusLink = document.getElementById("link" + e.currentTarget.problemNum.toString());
							status.style = "color: orange; font-weight: bold;";
							status.innerText = "Saving answer..."
							var XHR = new XMLHttpRequest();
							var userAnswer = new FormData(document.getElementsByTagName("form")[e.currentTarget.problemNum - 1]);
							var isBlank = e.currentTarget.isBlank;
							XHR.open("POST", document.URL);
							XHR.addEventListener("load", (event) => {
								if(XHR.status === 200) {
									status.style = "color: lightgreen; font-weight: bold;";
									status.innerText = "Answer saved successfully!";
									if(isBlank) {
										statusLink.style = "border: 2px solid white; text-align: center; background-color: lightgray;";
									} else {
										statusLink.style = "border: 2px solid white; text-align: center; background-color: lightblue;";
									}
								} else {
									status.style = "color: tomato; font-weight: bold;";
									status.innerText = "An error occured when submitting! Try checking your connection. When you fix the connection, make sure the intended answers are saved! (To save the current answer, click on another answer and then the intended answer.)";
								}
							});
							XHR.addEventListener("error", (event) => {
								status.style = "color: tomato; font-weight: bold;";
								status.innerText = "An error occured when submitting! Try checking your connection. When you fix the connection, make sure the intended answers are saved! (To save the current answer, click on another answer and then the intended answer.)";
							});
							XHR.send(userAnswer);
						});
					}
				}
			</script>
			{% else %}
			<script>
				var numForms = document.getElementsByClassName("box").length - 1;
				for(var j = 1; j <= numForms; j++) {
					var form = document.getElementById((j - 1).toString() + "_answer");
					status.innerText = "Currently saved answer: " + form.value.toString();
					if(form.value.toString() === "") {
						document.getElementById("status" + j.toString()).innerText = "Currently saved answer: N/A";
					} else {
						document.getElementById("status" + j.toString()).innerText = "Currently saved answer: " + form.value.toString();
					}
				}
				for(var i = 1; i <= numForms; i++) {
					var saveButton = document.getElementById("save" + i.toString());
					saveButton.problemNum = i;
					saveButton.previousAnswer = document.getElementById((i - 1).toString() + "_answer").value;
					saveButton.addEventListener('click', function(e) {
						var saveButton2 = document.getElementById("save" + e.currentTarget.problemNum.toString());
						var status = document.getElementById("status" + e.currentTarget.problemNum.toString());
						status.style = "color: orange; font-weight: bold;";
						status.innerText = "Saving answer..."
						var XHR = new XMLHttpRequest();
						var form = document.getElementById((e.currentTarget.problemNum - 1).toString() + "_answer");
						var userAnswer = new FormData(form.parentElement.parentElement);
						var previousAnswer = e.currentTarget.previousAnswer;
						var currentAnswer = form.value.toString();
						var statusLink = document.getElementById("link" + e.currentTarget.problemNum.toString());
						XHR.open("POST", document.URL);
						XHR.addEventListener("load", (event) => {
							if(XHR.status === 200) {
								status.style = "color: lightgreen; font-weight: bold;";
								status.innerText = "Answer saved successfully!";
								statusLink.style = "border: 2px solid white; text-align: center; background-color: lightblue;";
								saveButton2.previousAnswer = currentAnswer;
								setTimeout(function() {
									status.style = "color: skyblue; font-weight: bold;";
									status.innerText = "Currently saved answer: " + currentAnswer;
								}, 2000);
							} else if(XHR.status === 400) {
								status.style = "color: tomato; font-weight: bold;";
								status.innerText = "Your submission was not accepted! It likely was not a valid integer!";
								setTimeout(function() {
									status.style = "color: skyblue; font-weight: bold;";
									status.innerText = "Currently saved answer: " + previousAnswer.toString();
									if(previousAnswer.toString() === "") {
										status.innerText += " N/A";
									}
								}, 2500);
							} else {
								status.style = "color: tomato; font-weight: bold;";
								status.innerText = "An error occured when submitting! Try checking your connection. When you fix the connection, make sure the intended answers are saved!";
							}
						});
						XHR.addEventListener("error", (event) => {
							status.style = "color: tomato; font-weight: bold;";
							status.innerText = "An error occured when submitting! Try checking your connection. When you fix the connection, make sure the intended answers are saved!";
						});
						XHR.send(userAnswer);
					});
				}
			</script>
			{% endif %}
		{% endif %}

		<script type="text/javascript" src="{% static 'js/timers.js' %}"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css" integrity="sha384-vKruj+a13U8yHIkAyGgK1J3ArTLzrFGBbBc0tDp4ad/EyewESeXE/Iv67Aj8gKZ0" crossorigin="anonymous">
		<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.js" integrity="sha384-PwRUT/YqbnEjkZO0zZxNqcxACrXe+j766U2amXcgMg5457rve2Y7I6ZJSm2A0mS4" crossorigin="anonymous"></script>
		<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"></script>
		<script>
    	document.addEventListener("DOMContentLoaded", function() {
			renderMathInElement(document.body, {
				delimiters: [
					{left: "$$", right: "$$", display: true},
					{left: "$", right: "$", display: false},
  					{left: "\\(", right: "\\)", display: false},
					{left: "\\begin{equation}", right: "\\end{equation}", display: true},
					{left: "\\begin{equation*}", right: "\\end{equation*}", display: true},
					{left: "\\begin{align}", right: "\\end{align}", display: true},
					{left: "\\begin{align*}", right: "\\end{align*}", display: true},
					{left: "\\begin{alignat}", right: "\\end{alignat}", display: true},
					{left: "\\begin{alignat*}", right: "\\end{alignat*}", display: true},
					{left: "\\begin{gather}", right: "\\end{gather}", display: true},
					{left: "\\begin{gathered}", right: "\\end{gathered}", display: true},
					{left: "\\begin{CD}", right: "\\end{CD}", display: true},
					{left: "\\[", right: "\\]", display: true}
				]
			});
 	   	});
		</script>
		<style>
			.networkStatus {
				position: sticky;
				bottom: 0;
				color: black;
				font-family: 'Roboto', -apple-system, 'Segoe UI', Helvetica, Arial, sans-serif;
				text-align: center;
			}
			.online {
				background-color: lightgreen;
			}
			.offline {
				background-color: tomato;
			}
			.hidden {
				display: none;
			}
		</style>
		<div class="networkStatus hidden" id="netStatus">
			<p>You appear to be offline!</p>
		</div>
		<script>
			function offline() {
				document.getElementById("netStatus").className = "networkStatus offline";
				document.getElementById("netStatus").firstElementChild.innerText = "You appear to be offline!";
				alert("You appear to be offline! The answers you recently submitted may not have been saved! When you go \
back online, make sure to check that the saved answers have the correct values! You may have to resubmit some answers!");
			}
			function online() {
				document.getElementById("netStatus").className = "networkStatus online";
				document.getElementById("netStatus").firstElementChild.innerText = "Connected!";
				setTimeout(function() {
					document.getElementById("netStatus").className = "networkStatus hidden";
				}, 2000);
			}
			window.addEventListener("load", () => {
				if(!navigator.onLine) {
					offline();
				}
			});
			window.addEventListener("offline", () => {
				offline();
				window.addEventListener("online", () => {
					online();
				});
			});
		</script>
  	</body>
</html>
