{% load static %}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>(;) Register for: {{ contest.name }}</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
	</head>
	<body>
		<div style="display: flex; justify-content: space-between; align-items: center;">
			<div>
				<h1>(;) Register for: {{ contest.name }}</h1>
			</div>
			<div style="float: right;">
				{% if user.is_authenticated %}
					<a href="{% url 'profile' %}">{{ user.username }}</a> |
					<a href="{% url 'logout' %}">Logout</a>
				{% else %}
					<a href="{% url 'login' %}">Login</a> |
					<a href="{% url 'register' %}">Register</a>
				{% endif %}
			</div>
		</div>
		<nav>
			<a href="{% url 'blog-home' %}">Home</a> |
			<a href="{% url 'contests-home' %}">Contests</a> |
			<a href="{% url 'problemset-home' %}">Problemset</a> |
			<a href="{% url 'blog-about' %}">About</a>
		</nav>
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-{{ message.tags }}">
					{{ message }}
				</div>
			{% endfor %}
		{% endif %}
		
		<h2>Joining contest: {{ contest.name }}</h2>
		<div class="alert alert-warning">

			<p style="font-size: 22px;"><b>
				By joining you agree to follow the rules and understand the contest format,
				both of which can be found in the
				<a href="{{ contest.announcement_link}}" style="color: blue;">
					the contest announcement</a>. Make sure to join
				our <a href="https://discord.gg/9deBe7WnEM" style="color: blue;">
					Discord server</a>
				to be aware of any announcements regarding technical issues.
				Note we WILL NOT post any clarifications of the problems DURING the contest.
			</b></p>

			<p style="font-size: 22px;"><b>
				Note that you will have to verify that you followed the rules by pressing the submit button
				in the contest arena. This will take you to a page to do so.
				{% if contest.form_user_submit_solutions %}
					You also MUST submit images of your work to a form (the link is also available on this 'submit' page).
				{% endif %}
				You will have 20 minutes after your contest attempt ends to do this task. You will be redirected to this page
				automatically when your contest attempt ends.
			</b><p>
			<p style="font-size: 22px;"><b>
				Contest ends at
				<a href="{{ contest.end_time_url }}" style="color: blue;">
					{{ contest.end_time }}</a> (UTC).
			</b></p>
			<p style="font-size: 22px;"><b>
				Contest ends in:
				<span class="timer" redirect="{% url 'contests-home' %}" current-server-time="{{ current_server_time }}" end-time="{{ contest.end_time|date:"U"}}"></span>
			</b></p>
			<p style="font-size: 22px;"><b>
				Time limit of your attempt:
				{{ contest.time_limit }} minutes
			</b></p>
			<p style="font-size: 22px;"><b>
				YOUR ATTEMPT WILL END WHEN THE CONTEST ENDS,
				EVEN IF YOU ARE UNDER THE TIME LIMIT.
			</b></p>
			<p style="font-size: 22px;"><b>
				It is recommended to open the arena in only one tab, use a tablet/laptop/desktop instead of a phone,
				and you can navigate back to the contest arena by going to the semicolon math website and clicking contests
				in case you close it by accident.
			</b></p>

		</div>

		<form method="POST">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit">Join contest</button>
		</form>

		<script type="text/javascript" src="{% static 'js/timers.js' %}">
		</script>
  	</body>
</html>
