{% load static %}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>(;) Semicolon Math Preview: {{ contest.name }}</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
	</head>
	<body>
		<div style="display: flex; justify-content: space-between; align-items: center;">
			<div>
				<h1>(;) Semicolon Math Preview: {{ contest.name }}</h1>
			</div>
			<div style="float: right;">
				{% if user.is_authenticated %}
					<a href="{% url 'profile' %}">{{ user.username }}</a> |
					<a href="{% url 'logout' %}">Logout</a>
				{% else %}
					<a href="{% url 'login' %}?next={{ request.path }}">Login</a> |
					<a href="{% url 'register' %}">Register</a>
				{% endif %}
			</div>
		</div>
		<nav>
			<a href="{% url 'blog-home' %}">Home</a> |
			<a href="{% url 'contests-home' %}">Contests</a> |
			<a href="{% url 'problemset-home' %}">Problemset</a> |
			<a href="{% url 'blog-about' %}">About</a>
		</nav>
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-{{ message.tags }}">
					{{ message }}
				</div>
			{% endfor %}
		{% endif %}
		{% if contest_problems %}
			{% for contest_problem in contest_problems %}
				<div class="box">
					<h2>Problem {{ forloop.counter }}: {{ contest_problem.problem.name }}</h2>
					<h3>Value (if solved during a running contest): {{ contest_problem.value }}</h3>
					<div>{{ contest_problem.problem.content|safe }}</div>
				</div>
			{% endfor %}
		{% endif %}
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css" integrity="sha384-vKruj+a13U8yHIkAyGgK1J3ArTLzrFGBbBc0tDp4ad/EyewESeXE/Iv67Aj8gKZ0" crossorigin="anonymous">
		<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.js" integrity="sha384-PwRUT/YqbnEjkZO0zZxNqcxACrXe+j766U2amXcgMg5457rve2Y7I6ZJSm2A0mS4" crossorigin="anonymous"></script>
		<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"></script>
		<script>
    	document.addEventListener("DOMContentLoaded", function() {
			renderMathInElement(document.body, {
				delimiters: [
					{left: "$$", right: "$$", display: true},
					{left: "$", right: "$", display: false},
  					{left: "\\(", right: "\\)", display: false},
					{left: "\\begin{equation}", right: "\\end{equation}", display: true},
					{left: "\\begin{equation*}", right: "\\end{equation*}", display: true},
					{left: "\\begin{align}", right: "\\end{align}", display: true},
					{left: "\\begin{align*}", right: "\\end{align*}", display: true},
					{left: "\\begin{alignat}", right: "\\end{alignat}", display: true},
					{left: "\\begin{alignat*}", right: "\\end{alignat*}", display: true},
					{left: "\\begin{gather}", right: "\\end{gather}", display: true},
					{left: "\\begin{gathered}", right: "\\end{gathered}", display: true},
					{left: "\\begin{CD}", right: "\\end{CD}", display: true},
					{left: "\\[", right: "\\]", display: true}
				]
			});
 	   	});
		</script>
  	</body>
</html>
