{% load static %}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>(;) Register for: {{ contest.name }}</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
	</head>
	<body>
		<div style="display: flex; justify-content: space-between; align-items: center;">
			<div>
				<h1>(;) Register for: {{ contest.name }}</h1>
			</div>
			<div style="float: right;">
				{% if user.is_authenticated %}
					<a href="{% url 'profile' %}">{{ user.username }}</a> |
					<a href="{% url 'logout' %}">Logout</a>
				{% else %}
					<a href="{% url 'login' %}">Login</a> |
					<a href="{% url 'register' %}">Register</a>
				{% endif %}
			</div>
		</div>
		<nav>
			<a href="{% url 'blog-home' %}">Home</a> |
			<a href="{% url 'contests-home' %}">Contests</a> |
			<a href="{% url 'problemset-home' %}">Problemset</a> |
			<a href="{% url 'blog-about' %}">About</a>
		</nav>
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-{{ message.tags }}">
					{{ message }}
				</div>
			{% endfor %}
		{% endif %}
		
		{% if registered %}
			<h2>You have already registered!</h2>
		{% else %}
			<h2>Registering for contest: {{ contest.name }}</h2>
			<div class="alert alert-warning">

			<p style="font-size: 22px;"><b>
				Before registering, make sure you are familiar with
				<a href="{% url 'blog-about' %}#rules" style="color: blue;">
					the rules</a>,
				and you have read
				<a href="{{ contest.announcement_link}}" style="color: blue;">
					the contest announcement</a>.
			</b></p>
			<p style="font-size: 22px;"><b>
				By clicking the 'register' button, you agree you will
				follow
				<a href="{% url 'blog-about' %}#rules" style="color: blue;">
					the rules</a>.
				Failing to follow the rules may result in your account
				getting DELETED.
			</b></p>
			<p style="font-size: 22px;"><b>
				Registration closes at
				<a href="{{ contest.start_time_url }}" style="color: blue;">
					{{ contest.start_time }}</a>.
			</b></p>
			<p style="font-size: 22px;"><b>
				Registration closes in:
				<span class="timer" end-time="{{ contest.start_time|date:"U"}}"></span>
				(UTC)
			</b></p>

			</div>

			<form method="POST">
				{% csrf_token %}
				{{ form.as_p }}
				<button type="submit">Register</button>
			</form>

		{% endif %}
		<script>
			function updateTimers() {
				var timers = document.getElementsByClassName('timer');
				for(var i = 0; i < timers.length; i++) {
					var endTime = Number(timers[i].getAttribute('end-time')) * 1000;
					var millisecondsLeft = endTime - Date.now();
					if(millisecondsLeft > 0) {
						var totSeconds = Math.ceil(millisecondsLeft / 1000);
						var seconds = totSeconds % 60;
						totSeconds -= totSeconds % 60;
						totSeconds /= 60;

						var minutes = totSeconds % 60;
						totSeconds -= totSeconds % 60;
						totSeconds /= 60;

						var hours = totSeconds % 60;
						totSeconds -= totSeconds % 60;
						totSeconds /= 60;

						var days = totSeconds % 24;
						totSeconds -= totSeconds % 24;
						totSeconds /= 24;

						var timeToDisplay = days.toString() + "d " + hours.toString() + "h " + minutes.toString() + "m " + seconds.toString() + "s";
						timers[i].innerText = timeToDisplay;

						} else {
							location.reload();
						}
					}
				}
				setInterval(updateTimers, 100);
		</script>
  	</body>
</html>
