{% load static %}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>(;) Semicolon Math Scoreboard: {{ contest.name }}</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
	</head>
	<body>
		<div style="display: flex; justify-content: space-between; align-items: center;">
			<div>
				<h1>(;) Semicolon Math Scoreboard: {{ contest.name }}</h1>
			</div>
			<div style="float: right;">
				{% if user.is_authenticated %}
					<a href="{% url 'profile' %}">{{ user.username }}</a> |
					<a href="{% url 'logout' %}">Logout</a>
				{% else %}
					<a href="{% url 'login' %}?next={{ request.path }}">Login</a> |
					<a href="{% url 'register' %}">Register</a>
				{% endif %}
			</div>
		</div>
		<nav>
			<a href="{% url 'blog-home' %}">Home</a> |
			<a href="{% url 'contests-home' %}">Contests</a> |
			<a href="{% url 'problemset-home' %}">Problemset</a> |
			<a href="{% url 'blog-about' %}">About</a>
		</nav>
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-{{ message.tags }}">
					{{ message }}
				</div>
			{% endfor %}
		{% endif %}
		<p><a href="{% url 'contests-arena' contest.id %}">Back to contest arena</a></p>
		<table>
		<tbody>
			<tr>
				<th>Rank</th>
				<th>Username</th>
				<th>Total points</th>
				<th>Total penalty</th>
				{% for contest_problem in contest_problems %}
					<th><a href="/contests/{{ contest.id }}/arena/#{{ forloop.counter }}">{{ forloop.counter }}</a></th>
				{% endfor %}
			</tr>
			{% if page_obj %}
			{% for user in page_obj %}
			<tr>
				<td>{{ user.rank }}</td>
				<td>{{ user.username }}</td>
				<td>{{ user.total_points }}</td>
				<td>{{ user.total_penalty }}</td>
				{% for problem in user.problem_info %}
				<td>
					{% if problem %}
						{% if problem.solved_in_contest %}
						<span style="color: lightgreen;"><b>{{ problem.value }}</b></span>
						{% endif %}
						<span style="color: tomato;"><b>({{ problem.wrong_submissions_in_contest }})</b></span></br>
						{% if problem.solved_in_contest %}
						<small>
						<span style="color: lightgray;">{{ problem.time_solved_in_contest }} minute(s)</span>
						</small>
						{% endif %}
					{% endif %}
				</td>
				{% endfor %}
			</tr>
			{% endfor %}
			{% endif %}
		</tbody>
		</table>

		<div class="pagination">
			{% with ''|center:page_obj.paginator.num_pages as range %}
			{% for i in range %}
				{% if forloop.counter == page_obj.number %}
					<a class="paginationLink paginationSelected" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
				{% else %}
					<a class="paginationLink" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
				{% endif %}
			{% endfor %}
			{% endwith %}
		</div>

  	</body>
</html>
