{% load static %}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>(;) About Semicolon Math</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
	</head>
	<body>
		<div style="display: flex; justify-content: space-between; align-items: center;">
			<div>
				<h1>(;) About Semicolon Math</h1>
			</div>
			<div style="float: right;">
				{% if user.is_authenticated %}
					<a href="{% url 'profile' %}">{{ user.username }}</a> |
					<a href="{% url 'logout' %}">Logout</a>
				{% else %}
					<a href="{% url 'login' %}?next={{ request.path }}">Login</a> |
					<a href="{% url 'register' %}">Register</a>
				{% endif %}
			</div>
		</div>
		<nav>
			<a href="{% url 'blog-home' %}">Home</a> |
			<a href="{% url 'contests-home' %}">Contests</a> |
			<a href="{% url 'problemset-home' %}">Problemset</a> |
			<a href="#">About</a>
		</nav>
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-{{ message.tags }}">
					{{ message }}
				</div>
			{% endfor %}
		{% endif %}
		<h2>Table of contents</h2>
		<ul>
			<li><a href="#what">What is Semicolon Math?</a></li>
			<li><a href="#discord">Join our discord server and chat!</a></li>
			<li><a href="#privacy">Privacy Notice</a></li>
			<li><a href="#rules">Contest Rules</a></li>
			<li><a href="#format">Contest Format</a></li>
			<li><a href="#contact">Contact Information</a></li>
		</ul>

		<h2 id="what">What is Semicolon Math?</h2>
		<p>
			Semicolon Math is a platform that tries to be the math version of
			<a href="https://codeforces.com">Codeforces</a>.
			We offer various contests.
		</p>
		<p>
			All problems on this website of FINISHED contests are licensed under a
			<a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
				Creative Commons Attribution 4.0 International License</a>.
			<b>
				This license only applies to contests that are FINISHED. The
				problems of a RUNNING contest CANNOT be available
				anywhere other than this website.
			</b>
		</p>
		<p>
			The code for this website is available at
			<ul>
				<li><a href="https://github.com/bkf2020/semicolon">Github</a></li>
				<li><a href="https://gitlab.com/bkf2020/semicolon">Gitlab</a></li>
				<li><a href="https://codeberg.org/bkf2020/semicolon">Codeberg</a></li>
			</ul>
		</p>
		<p>
			We also have a public
			<a href="https://discord.gg/9deBe7WnEM">Discord server</a>.
		</p>
		<h2 id="discord">Join our discord server and chat!</h2>
		<a href="https://discord.gg/9deBe7WnEM">https://discord.gg/9deBe7WnEM</a>.
		<p>
			The purpose of this Semicolon Math server is create a friendly atmosphere and environment for problem solvers.
			This server can be used to interact with other interested math students and discuss the contest problems AFTER the testing window closes.
			You do not need to be a current or previous competitor to be here.
			Thanks, have fun, and enjoy your stay.
		</p>

		<h2 id="privacy">Privacy Notice</h2>
		<p>
			We store your username and a <b>hashed and salted</b> version of your password.
			However, you <b>should use a unique and strong password</b> for this website for security reasons.
		</p>
		<p>
			We also store the answers you submit to a problem, your rating, the scores of the contests you participate in,
			and during a contest, the time you submitted a problem in order to calculate your score.
		</p>
		<p>
			We do not knowingly log any other personal data, such as your email.
		</p>
		<h2 id="rules">Contest Rules</h2>
		<ul>
			<li>You CAN ONLY use scratch paper, pencils, erasers, colored pencils/pens/markers, rulers, and compasses</li>
			<li>You CANNOT use protractors or graph paper</li>
			<li>
				You CANNOT use any calculator (online or offline) or any computing services
				(like WolframAlpha). You also cannot write any code to solve the problems.
				All problems must be solved by YOU and not a computer.
			</li>
			<li>
				You CANNOT discuss the problems with any other person when the contest is RUNNING.
				ONLY SOLVE THE PROBLEMS BY YOURSELF.
			</li>
			<li>
				If you have a technical issue DURING the contest that is within our control
				(e.g. the server goes down but your wifi works fine), please DM mathmastersd on Discord (using our server).
				DO NOT ASK PUBLICLY ON THE SERVER. Also, DO NOT ask how to solve a problem, the answer to a problem,
				or anything regarding the problems. If a problem is unclear, please move on and try it later.
			</li>
			<li>
				All technical issues will be posted on our Discord server. Any problem fixes will be posted
				AFTER the contest ends for everyone. The fixes are available directly in the problem statements.
			</li>
			<li>
				Tip: After submitting an answer, please wait at least 15 seconds
				for the website to load and return your verdict. DO NOT refresh the page.
			</li>
			<li>
				If you are a current staff or former member (i.e. you joined staff in the past), you CANNOT participate
				in ANY rounds.
			</li>
			<li>
				Failure to follow the rules MAY result in your account getting DELETED.
			</li>
		</ul>
		<p>
			If you know someone who cheated, please DM mathmastersd on the Discord server. It is difficult to get around
			cheating, so please do not be discouraged. The point of these contests is to have fun, at the end
			of the day!
		</p>
		<h2 id="format">Contest format</h2>
		<ul>
			<li>
				The usual contests have the following format, but this can vary:
				<ul>
					<li>6 problems</li>
					<li>1-1.5 hours to solve them</li>
					<li>2 easy AIME-like problems (difficulty problems 1-5)</li>
					<li>2 medium AIME-like problems (difficulty of problems 6-10)</li>
					<li>2 hard AIME-like problems (difficulty of problems 11-15)</li>
				</ul>
			</li>
			<li>Users have a long interval where they can pick the 1-1.5 hours to participate in the contest</li>
			<li>Users get instant feedback after submitting a problem</li>
			<li>Problems can have any integer values (including negative ones)</li>
			<li>Each problem has a value/certain number of points attached to it</li>
			<li>Users cannot view the contest scoreboard until the contest ends for everyone</li>
			<li>The contest scoreboard is ranked by total points from problems solved, and then total penalty from all the problems</li>
			<li>The penalty of one problems is computed as:
				<center>
					time problem gets solved in minutes + 10 &times; (number of wrong submissions)
				</center>
			</li>
		</ul>

		<h2 id="contact">Contact Information</h2>
		<p>
			To contact us DURING a contest about a PROBLEM with the website
			(see <a href="#rules">rules</a> for more details about what is allowed),
			please DM mathmastersd on the Discord server.
		</p>
		<p>Other inquries can be asked on the PUBLIC Discord Server.</p>
		<ul>
			<li><a href="https://discord.gg/9deBe7WnEM">Discord server</a></li>
		</ul>
  	</body>
</html>
